/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #mainContent{
    height:   595px;
    width: :  595px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #mainContent{
    height:   760px;
    width: :  760px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #mainContent{
    height:   985px;
    width: :  985px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  
  #mainContent{
    height:   1190px;
    width: :  1190px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #mainContent{
    height:   99%;
    width: :  99%;
  }
}

html{
  background-color: #2A293E !important;
}
  
.ui-widget-content{
  background-color: #2A293E !important;
}

.ui-widget-header{
  background-color: #2A293E !important;
}

.ui-tabs-panel{
  background-color: #2A293E !important;
}

.ui-corner-bottom{
  background-color: #2A293E !important;
}

.ui-widget-content{
  background-color: #2A293E !important;
}

.ui-menu { 
  top: auto !important; 
  left:auto !important; 
}

#tabs li{
  list-style-type: none;
  color: #D2C29D;
}

#jobs, #domains, #profile, #languages, #education, #location ,#tools, #contact{
  background-color: #2A293E;
  color: #D2C29D;  
}

/* Jobs tab */
#jobs h3{
  background-color: #2a293e;  
  color: #D2C29D;  
}

#jobs h3.jobselected{
  background-color: #2a4b7c;
  color: #FE840E;
}

#jobs div.jobwrapper{
  background-color: #F3E0BE;
  color: #766F57;
}

#jobs .jobwrapper .jobdetailkey{
  color: #5A3E36;
  font-style: italic;
}

#jobs .jobwrapper .jobdetailtxt{
  color: #006E6D;
}

#jobs .jobwrapper li{
  list-style-type: none;
}

.mbhide{
  background-color: #ff0000 !important;  
}

/* tools tab */
#tools h3{
  background-color: #2a293e;  
  color: #D2C29D;  
}

#tools h3.toolselected{
  background-color: #2a4b7c;
  color: #FE840E;
}

#tools div.toolwrapper{
  background-color: #F3E0BE;
  color: #766F57;
}

#tools .toolwrapper .tooldetailkey{
  color: #5A3E36;
  font-style: italic;
}

#tools .toolwrapper .tooldetailtxt{
  color: #006E6D;
}

#tools .toolwrapper li{
  list-style-type: none;
}

#tools .ToolsItem b{
  background-color: #766F57;
}

.hidden{
  display: none;
}

.resspan button{
  margin-left: 15px;
}

.maplink a p {display:none;}
.maplink a:hover p {
  display: inline-block;
  opacity: 60%;
  margin-left: 15px;
}
.maplink a:hover {display:inline-block;}

