@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    /* src:  local(*); */
}

*{
    font-family: "system";
    text-rendering: optimizeLegibility !important ;
    color-scheme: none;
    -webkit-print-color-adjust: exact;
    -webkit-appearance: none !important ;
    /* webkit-appearance can't deal with buttons correctly (chrome)
        Possible values:	none | auto (don't use) | button | textfield | menulist-button | <compat-auto>
    */
}

/*
not supported (yet)
    -webkit-font-smooth: never !important;
    font-smooth: never;   never | always 
*/   

body{
    background-color: #347B98;
    color: #f5f37c;
    box-sizing: border-box;
}

h2{ display: block;}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-content:justify;
    align-items: center;
/*    overflow: scroll;  */
}

div.section{
    display:flex;
    flex-flow:column;    
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 400px) {
    div.section { width: content; }
}

@media screen and (min-width: 401px) and (max-width: 1600px) {
    div.section {
        width: content;
        max-width: 45%;
    }
}

div.section:hover{ border: 5px solid #FB8604; }

.footer{
    bottom:1px;
    font-weight:bold;
}

div.subsection{
    display:flex;
    flex-flow: column wrap;
    padding: 5px;
    margin-bottom: 5px;
    width: fit-content;
    align-items: center;
}

div.subsection h2{
    align-items: center;
    color: black;
    /* padding-left: 2%; */
}

button{
    font-size: 32px;
    width: fit-content;
    margin-left: 2px;
}

.hidden{ display: none; }
