li{
    list-style-type: none;
    list-style: none;
}

div{
    background-color: #0c0624;
    color: #588ce2;
    height: max-content;
    margin: 5% 10% 5% 10%;
}

div > div{
    font-size: 1.25rem;
    border-left: 5px solid yellow;
    border-top-right-radius: 20px;
}
