#sticky{
    position: sticky;
    text-align: center;
}

nav{
    margin: 0% 10% 1% 10% ;
    font-size: 1.8rem;
}

.mat-tab-nav-bar a:first-child{
    background-color: #0c0624;
    color: #ffffff;
}

.mat-tab-nav-bar a:nth-child(2){
    color: #0c0624;
    background-color: #5bbce2;
}

.mat-tab-nav-bar a:nth-child(3){
    color: #fff;
    background-color: #245569;
}

.mat-tab-nav-bar a:nth-child(4){
    color: #fff;
    background-color: #2f1993;
}

.mat-tab-nav-bar a:nth-child(5){
    background-color: #d4e4f7;
    color: #000000;
}

.mat-tab-nav-bar a:nth-child(6){
    background-color: #905bec;
    color: #190934;
}

.mat-tab-nav-bar a:nth-child(7){
    background-color: #2b5797;
    color: #ffffff;
}
.mat-tab-nav-bar a:nth-child(8){
    background-color: #3F729B;
    color: #ffffff;
}

