body{
    background-color: #0c0624;
    color: #588ce2;
}

.wrapper{
    display: flex;
    flex-flow: column;
}

div.section{
    padding: 5px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 45%;
}

div.subsection{
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

div.subsection h2{
    color: black;
    padding-left: 25%;
}

button{
    font-size: 32px;
    width: 50%;
    margin-left: 25%;
}

.hidden{
    display: none;
}

