

.solar-system {
  position: absolute;
  background-color: black;
  opacity:  0.0;

          transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
     -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
       -o-transition: opacity 1s ease-in-out;

          animation: sun-move 120s linear infinite;
  -webkit-animation: sun-move 120s linear infinite;
     -moz-animation: sun-move 120s linear infinite;
      -ms-animation: sun-move 120s linear infinite;
       -o-animation: sun-move 120s linear infinite;
}

.solar-system .sun {
  position: absolute;
  background: #fd0;
  top: 50%;

          border-radius: 1em;
  -webkit-border-radius: 1em;
     -moz-border-radius: 1em;
      -ms-border-radius: 1em;
       -o-border-radius: 1em;

          transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
     -moz-transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
       -o-transform: rotateZ(0deg);

}

.solar-system .sun .earth {
  position: absolute;
  left: .5em;
  top: .5em;

          border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
     -moz-border-radius: 0.6em;
      -ms-border-radius: 0.6em;
       -o-border-radius: 0.6em;

          transform: translateX(3em);
  -webkit-transform: translateX(3em);
     -moz-transform: translateX(3em);
      -ms-transform: translateX(3em);
       -o-transform: translateX(3em);

          transform-origin: -3.5em 0%;
  -webkit-transform-origin: -3.5em 0%;
     -moz-transform-origin: -3.5em 0%;
      -ms-transform-origin: -3.5em 0%;
       -o-transform-origin: -3.5em 0%;

          animation: rotate-earth 10s linear infinite;
  -webkit-animation: rotate-earth 10s linear infinite;
     -moz-animation: rotate-earth 10s linear infinite;
      -ms-animation: rotate-earth 10s linear infinite;
       -o-animation: rotate-earth 10s linear infinite;
}

.solar-system .sun .earth .moon {
  position: absolute;
  left: .32em;
  top: .32em;

          border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
     -moz-border-radius: 0.4em;
      -ms-border-radius: 0.4em;
       -o-border-radius: 0.4em;

           transform: translateX(1em);
   -webkit-transform: translateX(1em);
      -moz-transform: translateX(1em);
       -ms-transform: translateX(1em);
        -o-transform: translateX(1em);


          transform-origin: -1.32em 0%;
  -webkit-transform-origin: -1.32em 0%;
     -moz-transform-origin: -1.32em 0%;
      -ms-transform-origin: -1.32em 0%;
       -o-transform-origin: -1.32em 0%;

          animation: rotate-moon 4s linear infinite;
  -webkit-animation: rotate-moon 4s linear infinite;
     -moz-animation: rotate-moon 4s linear infinite;
      -ms-animation: rotate-moon 4s linear infinite;
       -o-animation: rotate-moon 4s linear infinite;
}

#s7.space .solar-system {
  opacity: 1;
}

/* sun move */

@-moz-keyframes sun-move {
  0% {
    -moz-transform: translateX(37em) translateY(7em);
    transform: translateX(37em) translateY(7em);
  }

  100% {
    -moz-transform: translateX(-3em) translateY(5.5em);
    transform: translateX(-3em) translateY(5.5em);
  }
}

@-webkit-keyframes sun-move {
  0% {
    -webkit-transform: translateX(37em) translateY(7em);
    transform: translateX(37em) translateY(7em);
  }

  100% {
    -webkit-transform: translateX(-3em) translateY(5.5em);
    transform: translateX(-3em) translateY(5.5em);
  }
}

@-o-keyframes sun-move {
  0% {
    -o-transform: translateX(37em) translateY(7em);
    transform: translateX(37em) translateY(7em);
  }

  100% {
    -o-transform: translateX(-3em) translateY(5.5em);
    transform: translateX(-3em) translateY(5.5em);
  }
}

@-ms-keyframes sun-move {
  0% {
    -ms-transform: translateX(37em) translateY(7em);
    transform: translateX(37em) translateY(7em);
  }

  100% {
    -ms-transform: translateX(-3em) translateY(5.5em);
    transform: translateX(-3em) translateY(5.5em);
  }
}

@keyframes sun-move {
  0% {
    transform: translateX(37em) translateY(7em);
  }

  100% {
    transform: translateX(-3em) translateY(5.5em);
  }
}


/* rotate-earth */

@-moz-keyframes rotate-earth {
  0% {
    -moz-transform: translateX(3.5em) rotateZ(0deg);
    transform: translateX(3.5em) rotateZ(0deg);
  }

  100% {
    -moz-transform: translateX(3.5em) rotateZ(360deg);
    transform: translateX(3.5em) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-earth {
  0% {
    -webkit-transform: translateX(3.5em) rotateZ(0deg);
    transform: translateX(3.5em) rotateZ(0deg);
  }

  100% {
    -webkit-transform: translateX(3.5em) rotateZ(360deg);
    transform: translateX(3.5em) rotateZ(360deg);
  }
}

@-o-keyframes rotate-earth {
  0% {
    -o-transform: translateX(3.5em) rotateZ(0deg);
    transform: translateX(3.5em) rotateZ(0deg);
  }

  100% {
    -o-transform: translateX(3.5em) rotateZ(360deg);
    transform: translateX(3.5em) rotateZ(360deg);
  }
}

@-ms-keyframes rotate-earth {
  0% {
    -ms-transform: translateX(3.5em) rotateZ(0deg);
    transform: translateX(3.5em) rotateZ(0deg);
  }

  100% {
    -ms-transform: translateX(3.5em) rotateZ(360deg);
    transform: translateX(3.5em) rotateZ(360deg);
  }
}

@keyframes rotate-earth {
  0% {
    transform: translateX(3.5em) rotateZ(0deg);
  }

  100% {
    transform: translateX(3.5em) rotateZ(360deg);
  }
}


/* rotate-moon */

@-moz-keyframes rotate-moon {
  0% {
    -moz-transform: translateX(2em) rotateZ(0deg);
    transform: translateX(2em) rotateZ(0deg);
  }

  100% {
    -moz-transform: translateX(2em) rotateZ(360deg);
    transform: translateX(2em) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-moon {
  0% {
    -webkit-transform: translateX(2em) rotateZ(0deg);
    transform: translateX(2em) rotateZ(0deg);
  }

  100% {
    -webkit-transform: translateX(2em) rotateZ(360deg);
    transform: translateX(2em) rotateZ(360deg);
  }
}

@-o-keyframes rotate-moon {
  0% {
    -o-transform: translateX(2em) rotateZ(0deg);
    transform: translateX(2em) rotateZ(0deg);
  }

  100% {
    -o-transform: translateX(2em) rotateZ(360deg);
    transform: translateX(2em) rotateZ(360deg);
  }
}

@-ms-keyframes rotate-moon {
  0% {
    -ms-transform: translateX(2em) rotateZ(0deg);
    transform: translateX(2em) rotateZ(0deg);
  }

  100% {
    -ms-transform: translateX(2em) rotateZ(360deg);
    transform: translateX(2em) rotateZ(360deg);
  }
}

@keyframes rotate-moon {
  0% {
    transform: translateX(2em) rotateZ(0deg);
  }

  100% {
    transform: translateX(2em) rotateZ(360deg);
  }
}

